@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center" style="color: #F27D16">Welcome to KK Bank BO!</h3>

<div class="text-center">
    <h4 style="color: #F27D16">In this application you can find the following opportunities:</h4>
    <br />
    <h5>Process user requests from <a asp-controller="Request" asp-action="AwaitingApproval">here</a>.</h5>
    <h5>Review handled user requests from <a asp-controller="Request" asp-action="Archive">here</a>.</h5>
    <h5>Customer service from <a asp-controller="User" asp-action="Index">here</a>.</h5>
    <h5>And more!</h5>
</div>
