.tableFixHead {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #0367A6;
        color: white;
    }

    .tableFixHead tbody th {
        position: sticky;
        left: 0;
    }

    .tableFixHead td {
        box-shadow: inset 1px -1px #000;
    }

    .tableFixHead th {
        box-shadow: inset 1px 1px #000, 0 1px #000;
    }

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #eee;
}
